<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div>
        <div>
            <h2>Login</h2>
            <!-- login if user exists -->
            <form action="#" method="GET">
                <div>
                    <label for="user_name">Username</label>
                    <input type="text" name="user_name" placeholder=" Your Username">
                </div>
                <div>
                    <label for="user_password">Password</label>
                    <input type="password" name="user_password" placeholder="Your Password">
                </div>
            </form>
        </div>
        <div>
            <!-- create new account if user does not exists -->
            <h2>Sign Up for New user</h2>
            <form>
                <div>
                    <label for="frist_name">Fristname</label>
                    <input type="text" name="frist_name" placeholder="Rivu">
                </div>
                <div>
                    <label for="last_name">Lastname</label>
                    <input type="text" name="last_name" placeholder="Pal">
                </div>
                <div>
                    <label for="user_name">Username</label>
                    <input type="text" name="user_name" placeholder="Your Username">
                </div>
                <div>
                    <label for="user_password">Password</label>
                    <input type="password" name="user_password" placeholder="Your Password">
                </div>
                <div>
                    <label for="phone">Phonenumber</label>
                    <input type="text" maxlength="10" minlength="10" name="phone_number" placeholder="phone_number">
                </div>
                <div>
                    <label for="gender">Sex</label>
                    <select name="sex">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Others</option>
                    </select>   
                </div>
            </form>
        </div>
    </div>


</body>
</html>